body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#0f172a,#1e1b4b);
color:white;
}

/* HERO */
.hero{
display:flex;
justify-content:space-between;
padding:80px;
}

.hero-left{
max-width:500px;
}

.hero h1{
font-size:50px;
background:linear-gradient(90deg,#6366f1,#9333ea);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* FLOATING FORM */
.hero-form{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:15px;
backdrop-filter:blur(10px);
}

/* CATEGORY */
.categories{
display:flex;
gap:20px;
padding:50px;
}

.cat-card{
flex:1;
position:relative;
cursor:pointer;
}

.cat-card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
}

.cat-card h2{
position:absolute;
bottom:20px;
left:20px;
}

/* COURSE */
.course-section{
display:none;
padding:60px;
}

.course-box{
display:flex;
gap:30px;
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:15px;
}

.course-box img{
width:300px;
border-radius:10px;
}

.tags span{
background:#6366f1;
padding:8px;
margin:5px;
cursor:pointer;
}

/* WHY */
.why{
padding:60px;
}

.why-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

/* POPUP */
.popup{
display:none;
position:fixed;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.popup-box{
background:#1e293b;
padding:30px;
border-radius:15px;
}

@media(max-width:768px){
.hero{flex-direction:column;}
.categories{flex-direction:column;}
}
