body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1e293b;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding: 60px;
  background: linear-gradient(135deg,#3b82f6,#9333ea);
}

.hero-left {
  flex: 1;
}

.hero-right img {
  width: 350px;
  border-radius: 10px;
}

/* BUTTON */
.cta {
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* CATEGORIES */
.categories {
  padding: 40px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  top: 0;
}

.popup-box {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

/* MOBILE */
@media(max-width:768px){
  .hero {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
